<div class="title">
  <h1>Welcome to the Sports Hub</h1>
  <hr>
  <a routerLink="">Return to Home</a>
</div>
<md-card class="login-card">
<form class="login-form">
  <md-input-container class="input-full-width">
    <input mdInput placeholder="Email" type="email">
     </md-input-container>
  <md-input-container class="input-full-width">
    <input mdInput placeholder="Password" type="password">
  </md-input-container>
  
    <button md-raised-button class="signin-button">
      SIGN IN
    </button>
</form>
  <div class="row">
  <a md-button routerLink="">Forget Password</a>
  <a md-button routerLink="">SignUp</a>
  </div>
</md-card>